body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(10, 65, 126, 1);
}
.form-maintain {
  padding: 32px 64px 32px 64px;
}
a.nav-link {
  color: white;
}

footer {
  background: linear-gradient(180deg, #022d5e 0%, #1066c5 100%);
  color: white;
}
footer li a {
  text-decoration: none;
  color: white;
}
